<div class="my-experience">
	<div class="e-title nav-name nav-evaluate" data-id="nav-evaluate">
		<label class="middle">
		<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABZ0lEQVQ4T62U4TEEQRCF34uADBABIkAESgYuAicCKwInAkSgROAuApcBMjgRtPrWzNbsutu16D9bUzPzdffrN2v9c7iPFxG7knYkHadzc0nvtt823VsLjIhzSVeSAK4LgJXth+5mCxgR25Iei4qGBKHiM9urfLABJtizpIMhSmd/KekkQ0vgTNLFSFg+fmt7yqIGJvFffwnL1/YYVgZCv0k7H5KoFj0ZzpYkxGcQrJn6QhL6Mf2jdO/S9iwDy3Yntu9T5RWXbNe2SZ3MbTfTjwgSkeTadpWBXMQmBAKTHQAVAeRbR0QsbTeDYy1pvw/IgUlq+S59kYQ2SQqc9ZOk0yQPuVoVkvHlj0M5tL0sbUObWeCx7EXWuQRSJVCmOiZwBToj1ZcPC8HHQluwb8DCGthmqH28OS3f8VpgUS3TxE54rAymzZ+mtlY3hv6HvBYsgl1oDxCPYGP0Ajvarvp+rPnsj4BjRv4JSm2JFRf2FkcAAAAASUVORK5CYII=" alt="">	
		</label>
		<span>自我评价</span>
	</div>
	<div class="e-list">
		<ul class="n">
			<li>
				<div class="l-info l-evaluate">
					<div class="l-name ti2">为人谦和，对自身要求高，在大学与同学发起创立了演讲与口才协会；技能上有后端开发和页面设计制作的经验，可降低很大的沟通成本，带过团队；这一切促使着自己：善于表达，能吃苦耐劳，凝聚力强，敢想敢干，有较好的团队合作和服务精神；对待工作认真负责；不畏惧困难的挑战，用正确的态度去看待问题，耐得住性子，比较专注，对新技术有较快的学习和接受能力，解决问题是我的本色！经常会被阿里巴巴业务需求方在开发质量、完成时间和沟通态度上相互推荐。</div>
					<div class="l-name ti2">总体来讲：是一个善于发现和表达的程序员。</div>
				</div>
			</li>
		</ul>
	</div>
</div>